<% layout('./layouts/boilerplate.ejs') %>
<div id="map" style="width: 100%; height: 500px"></div>

<h1>All Campgrounds</h1>
<div>
  <a href="/campgrounds/new">Add Campground</a>
</div>
<ul>
  <% for (let campground of campgrounds) { %>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <% if(campground.images.length) { %>
        <img
          class="img-fluid"
          src="<%= campground.images[0].url%>"
          alt="Image of campground" />
        <% } else { %>
        <img
          class="img-fluid"
          src="https://res-console.cloudinary.com/dc2lyjkps/thumbnails/v1/image/upload/v1744855556/WWVscENhbXAvdWphd3BqYXRyZWRsbWdsdGU2dTE=/drilldown"
          alt="Image of campground" />

        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title%></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-secondary"><%= campground.location%></small>
          </p>
          <a class="btn btn-primary" href="/campgrounds/<%=campground._id %>">
            View <%=campground.title%>
          </a>
        </div>
      </div>
    </div>
  </div>

  <% } %>
</ul>

<script>
  const maptilerApiKey = "<%= process.env.MAPTILER_API_KEY %>";
  const campgrounds = {
    type: "FeatureCollection",
    features: <%- JSON.stringify(campgrounds) %>
  };
</script>
<script src="js/clusterMap.js"></script>
