<% layout('./layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/index.css">
<div
  crossorigin="anonymous"
  id="map"
  class="cluster-map mb-3 border rounded"></div>

<h1 class="h1 mb-3">All Campgrounds</h1>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mb-3">
  <% for (let campground of campgrounds) { %>
    <div class="col">
      <div class="card">
        <% if(campground.images.length) { %>
          <div class="img-square-wrapper">
            <img
              crossorigin="anonymous"
              class="img-fluid object-fit-cover"
              src="<%= campground.images[0].url%>"
              alt="Image of campground" />
          </div>
          <% } else { %>
          <img
            crossorigin="anonymous"
            class="img-fluid"
            src="https://res-console.cloudinary.com/dc2lyjkps/thumbnails/v1/image/upload/v1744855556/WWVscENhbXAvdWphd3BqYXRyZWRsbWdsdGU2dTE=/drilldown"
            alt="Image of campground" />

          <% } %>
          <div class="card-body">
            <h5 class="card-title"><%= campground.title%></h5>
            <p class="card-text clamp"><%= campground.description %></p>
            <p class="card-text">
              <small class="text-secondary"><%= campground.location%></small>
            </p>
            <a class="stretched-link " href="/campgrounds/<%=campground._id %>">
              
            </a>
          </div>
      </div>
    </div>
  <% } %>
</div>
  <script>
    const maptilerApiKey = "<%= process.env.MAPTILER_API_KEY %>";
    const campgrounds = {
      type: "FeatureCollection",
      features: <%- JSON.stringify(campgrounds) %>
    };
  </script>
  <script src="js/clusterMap.js"></script>
</div>
